<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" href="{% static 'css/reSizeImage_app.css' %}">
</head>
<body>
    <div>
        Введены неверные данные.
        <br> Возможные форматы изображение: .jpg, .png.
        <br> Возможные размеры изображения в px: от 1 до 9999.
    </div>
    <h1><a href="{% url 'resize_image_url' %}">Вернуться к изменению размеров изображений...</a></h1>
    <h1><a href="{% url 'main_menu_url' %}">Переход в главное меню...</a></h1>
</body>
</html>