.page-header {
    background-color: dodgerblue;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header a{
    color: black;
    margin-top: 0;
    font-size: 26pt;
}

.upload_data2 {
    background-color: lightseagreen;
    font-size: 14pt;
}

.check_status {
    background-color: greenyellow;
    font-size: 14pt;
}